In [15]:
for i in range(1,11,1):
    print("2 X {} = {}".format(i,i*2))

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [19]:
for i in range(82,97,2):
    print(i)

82
84
86
88
90
92
94
96

In [ ]:
while (condition):
    # code to be executed

In [20]:
print('Pankaj\n'*10)

Pankaj
Pankaj
Pankaj
Pankaj
Pankaj
Pankaj
Pankaj
Pankaj
Pankaj
Pankaj

In [24]:
i = 1                                       #assinment
while(i<11):                                 #condition
    print(f' 2 X {i} = {2*i}')               #code
    i=i+1                                   #increment/decrement

 2 X 1 = 2
 2 X 2 = 4
 2 X 3 = 6
 2 X 4 = 8
 2 X 5 = 10
 2 X 6 = 12
 2 X 7 = 14
 2 X 8 = 16
 2 X 9 = 18
 2 X 10 = 20

In [34]:
num = int(input('enter a num to check weather its prime or not'))
for i in range(2,num):
    if num % i == 0 and i != 1 and i != num:
        print(num,"is not a prime number")
        break
    elif i+1 == num:
        print(num,"is a prime number")

153 is not a prime number

In [47]:
num = int(input('enter a num to check weather its prime or not'))
count = 0
for i in range(1,num+1):
    if num%i == 0:
        count += 1
if count <= 2:
    print('prime')
else:
    print('not prime')

prime

In [7]:

for i in range(151,180):
    count=0
    for j in range(1,i+1):
        if i%j==0:
            count+=1
    if count<=2:
        print(i,'is prime')

151 is prime
157 is prime
163 is prime
167 is prime
173 is prime
179 is prime

In [9]:
i=151
while i<180:
    count=0
    j=1
    while j<=i:
        if i%j==0:
            count+=1
        j=j+1
    if count<=2:
        print(i,'is prime')
    i=i+1

151 is prime
157 is prime
163 is prime
167 is prime
173 is prime
179 is prime

In [12]:
for i in range(10):
    print(i)
    if i==4:
        break

0
1
2
3
4

In [19]:
i=0
while(True):
    
    
    i=i+1
    print(i)
    if i==11:
        break

1
2
3
4
5
6
7
8
9
10
11

In [16]:
for i in range(1,1000):
    if input('enter to break'):
        break
    print(i)

1
2
3
4
5
6

In [29]:
for i in range(1,5):
    for j in range(1,4):
        if i==3:
            print(i,end='\t\t\t')
            break
        print(f'i={i},j={j}',sep=',',end='\t\t\t')
        
    print()

i=1,j=1			i=1,j=2			i=1,j=3
i=2,j=1			i=2,j=2			i=2,j=3
3
i=4,j=1			i=4,j=2			i=4,j=3

In [20]:
num=20
for i in range(num):
    print(' '*(num-i) , ' *'*i)
for i in range(int(num*0.4)):

    print(' '*int(num*0.8) , '**'*int(num*.2))

                     *
                    * *
                   * * *
                  * * * *
                 * * * * *
                * * * * * *
               * * * * * * *
              * * * * * * * *
             * * * * * * * * *
            * * * * * * * * * *
           * * * * * * * * * * *
          * * * * * * * * * * * *
         * * * * * * * * * * * * *
        * * * * * * * * * * * * * *
       * * * * * * * * * * * * * * *
      * * * * * * * * * * * * * * * *
     * * * * * * * * * * * * * * * * *
    * * * * * * * * * * * * * * * * * *
   * * * * * * * * * * * * * * * * * * *
                 ********
                 ********
                 ********
                 ********
                 ********
                 ********
                 ********
                 ********

In [33]:
#decimal to hexa
def deci_to_any(num,any):
    result=''
    while(num>0):
        v = int(num%any)
        if v>9:
            v= chr(v+55)
        result  =str(v) +result
        num = int(num/any)
    return (result)
    # print(result)

In [34]:
deci_to_any(15,16)

'F'

In [105]:
num = 12
result = 0
v = int(num/8)
rem = int(num%8)
result = result + v+rem
print(result)

5

In [6]:
0o100

64

In [4]:
1%8

1

In [5]:
8*8 +4

68

In [118]:
def AnyToDecimal(num,from_base):
    decimal_value = 0
    base = 1
    while (num):
        last_digit = num % 10
        # print('last digit',last_digit, 'base' ,base)
        num = int(num / 10)
        print(f'''\n
                  decimal : {decimal_value} \n
                  base:      {base} \n
                  last_digit:{last_digit}    ''')
        decimal_value =decimal_value+ last_digit * base
        
        base = base * from_base
    print("The decimal value is :",decimal_value)

In [120]:
AnyToDecimal(111,2)

                  decimal : 0

                  base:      1

                  last_digit:1


                  decimal : 1

                  base:      2

                  last_digit:1


                  decimal : 3

                  base:      4

                  last_digit:1
The decimal value is : 7

In [140]:
def AnyToDecimal(num:str,from_base:int)->any:
    from_base=int(from_base)
    decimal_value = 0
    base = 1
    num=str(num)
    while (num):
        for i in num[::-1]:
                if i in '0123456789':
                    last_digit=int(i)
                else:
                    last_digit =  ord(i)-55
                print('last digit',last_digit, 'base' ,base)
                num = num[:-1]
                decimal_value += last_digit * base
                base = base * from_base
    print("The decimal value is :",decimal_value)
    return decimal_value

In [141]:
AnyToDecimal('C',16)
AnyToDecimal(100,'2')
AnyToDecimal('A',)

last digit 12 base 1
The decimal value is : 12

TypeError: AnyToDecimal() got multiple values for argument 'num'

In [60]:
'1' in range(10)

False

In [109]:
# 728282 
print(7*100000+ 2* 10000 + 8* 1000+ 2* 100+  8*  10 +2)

728282

In [137]:
ord('9') in range(47,58)

True

In [139]:
'9' in '0123456789'

True

In [142]:
a=10;b=12;c=14

In [145]:
a=b=c=10

In [155]:
a=10
b=20
temp =a
a=b
b=temp
print(b)

10

In [167]:
*b,a,c,d,e = {10,20,30,40}
# a,b = b,a

In [165]:
b

[]

In [170]:
def sum(*num):
    result = 0
    print(type(num))
    for i in num:
        result = i + result
    return result

<class 'tuple'>

0

In [177]:
def factorial(num):
    fact = 1
    for i in range(1, num + 1):
        fact =fact*i
    return fact

In [178]:
factorial(4)

24

In [186]:
def foo(num):
    return num**2

In [187]:
foo(3)

9

In [189]:
def factorial(num):
    if num is None:
        return 1
    else:
        return num*factorial(num-1)

In [190]:
factorial(34)

RecursionError: maximum recursion depth exceeded

In [13]:
def AnyToDecimal(num,from_base):
    decimal_value = 0
    base = 1
    while (num):
        last_digit = num % 10
        num = int(num / 10)
        # print(f'''\n
        #           decimal : {decimal_value} \n
        #           base:      {base} \n
        #           last_digit:{last_digit}    ''')
        decimal_value =decimal_value+ last_digit * base
        base = base * from_base
    print("The decimal value is :",decimal_value)

In [22]:
def my_decorator(func):
    def wrapper(a,b,*args,**kwargs):
        if b==16:
            return 'con\'t convert'
        else:
            func(a,b,*args,**kwargs)
            return 'This is my Decorator'
    return wrapper

AnyToDecimal_my = my_decorator(AnyToDecimal)

In [24]:
AnyToDecimal_my(1100,2)

The decimal value is : 12

'This is my Decorator'

In [86]:
@one_more_decorator
def foo(a,b):
    print('here')
    return a+b

In [85]:
def one_more_decorator(func):
    def wrapper(*args,**kwargs):
        print('welcome to my decorator')
        
        print('bye thanks for visiting')
        return func(*args,**kwargs)
    return wrapper
# foo=one_more_decorator(foo)

In [87]:
print(foo(2,3))

welcome to my decorator
bye thanks for visiting
here
5

In [35]:
def table(num,start=1,stop=10):
    if stop<start:
        return 'that\'s Harsh'  
    if start == stop:
        pass
    else:
        print(f'{num} X {start} = {start*num}')
        return table(num,start+1,stop)

In [42]:
for i in range(4):
    pass

In [43]:
*a,b=4,3,2,2

In [44]:
a

[4, 3, 2]

In [81]:
def sum_of_digit(num):
    return sum(int(digit) for digit in str(num))

def sum_of_digit(num,index=0):
    num=str(num)
    if not num[index:]:
        return 0
    else:
        val=int(num[index])
        return val + sum_of_digit(num,index+1)

In [85]:
a = lambda x,y,z : x*y*z

In [86]:
a(1,2,3)

6

In [99]:
t = [1,2,3,4,5,6,7,8]

for i in range(len(t)):#  0-8
    t[i]=t[i]-2

# for i in range(len(t)):
#     a=lambda x : x**2
#     t[i]=a(t[i])

In [100]:
t

[-1, 0, 1, 2, 3, 4, 5, 6]

In [113]:
t = [11,12,13,14,15,16,17,18]
for i in range(len(t)):
    print('before',i,t[i],end='\t\t')
    t[i] = t[i]**2
    print('after',i,t[i])


t = [11,12,13,14,15,16,17,18]

for i in range(len(t)):
    a=lambda x:x**2
    t[i]=a(t[i])
t

before 0 11		after 0 121
before 1 12		after 1 144
before 2 13		after 2 169
before 3 14		after 3 196
before 4 15		after 4 225
before 5 16		after 5 256
before 6 17		after 6 289
before 7 18		after 7 324

[121, 144, 169, 196, 225, 256, 289, 324]

In [118]:
def pow(n):
    return n ** 2

In [132]:
t = [11,-12,13,-14,15,16,-17,18]
t=list(filter(lambda x:True if x>0 else False,t))

In [171]:
def counter():
    sum = 0
    def innner(x):
        nonlocal sum
        sum += x
        return sum
    return innner

# count=times()
# print(count(3))  # Outputs: 4
# triple=times(3)

In [287]:
count1=counter()
count2=counter()
count3=counter()

In [298]:
count2.__closure__

(<cell at 0x000002AB529F2BF0: int object at 0x00007FFEA7551998>,)

In [272]:
a=10
def foo(x):
    summer=0
    def inner():
        global a
        nonlocal summer
        b=10
        a='inside inner function'
        summer='inside inner function'
        print(summer)
    inner()
    print(summer)
    return 'here'

In [299]:
a = lambda x,y,z:x+y+z

In [300]:
a(1,2,3)

6

In [333]:
def foo(x,*y,**a):
    x=(x,)
    print(a)
    return print

In [338]:
mera_print = foo(3,1,2,3,4,t=3,y=2)

{'t': 3, 'y': 2}

In [339]:
mera_print('hello')

hello

In [353]:
a = list(filter(lambda x :x=='h',('hello hi how are you')))

['h', 'h', 'h']

In [7]:
a='hello1'
a[1]='h'
id(a)==id(b)

TypeError: 'str' object does not support item assignment

In [20]:
print(type((1,2,3,4,5,6,7,8)))
list('hello world')
list(range(1,11))

<class 'tuple'>

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [17]:
type(list())

list

In [27]:
a=tuple(range(10))

In [36]:
a= list(range(10))

TypeError: 'int' object is not iterable

In [35]:
for i in a:
    print(i,end=' ')

0 1 2 3 4 5 6 7 8 9

In [39]:
en =enumerate(a)

In [40]:
type(en)

enumerate

In [46]:
a=list(range(10,21))

In [51]:
for i in range(10):
    print(i)
    i=9

0
1
2
3
4
5
6
7
8
9

In [54]:
for index,value in enumerate('hello world'):
    print('index:',index,'value:',value)

index: 0 value: h
index: 1 value: e
index: 2 value: l
index: 3 value: l
index: 4 value: o
index: 5 value:
index: 6 value: w
index: 7 value: o
index: 8 value: r
index: 9 value: l
index: 10 value: d

In [56]:
a[5]=20

In [125]:
a = ['a',1,'hello',10.3,12+1j,[1,[2,4,2,5,6],3,4],(2,3,4,4,3),{'hi':'hi'},lambda x:x**2,print]

In [127]:
a[-1]('hello world')

hello world

In [117]:
hash('htuafhwrflrfrnfjnernvrnvnvner;iouj')
db= hash('12345678@')

In [123]:
password='12345678@'

In [124]:
db==hash(password)

True

In [188]:
a=[1,2,3,4,5,6]
b=a.copy()
print(a,b,sep='\n')

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

In [189]:
b.append(7)
b.append(8)
print(a,b,sep='\n')
print(id(a),id(b),sep='\n')

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7, 8]
2307454858688
2307454190080

In [233]:
a=[0,1,2,3,4,1,2,3,4]
a.index(2,3,5)

ValueError: 2 is not in list

In [234]:
print(a.append(12))
print(a.copy())
print(a.count(1))
print(a.extend([1,2,3,4]))
print(a.index(1))
print(a.insert('pos','val'))
print(a.pop())
print(a.remove())
print(a.reverse())
print(a.sort())
print(a.clear())

None
[0, 1, 2, 3, 4, 1, 2, 3, 4, 12]
2
None
1

TypeError: 'str' object cannot be interpreted as an integer

In [ ]:
def position_of_char(char,string):
    result = []
    for index,val in enumerate(string):
        if val == char:
            result.append(index)
    return result,len(result)
position_of_char('l','hello world')

In [240]:
def position_of_char(char,string):
    # string = list(string)
    result =[]
    for i in range(len(string)):
        if string[i]==char:
            result.append(i)
    return result


position_of_char('l','hello world')

[2, 3, 9]

In [31]:
def position_of_character(var,char):
    char = str(char).lower()
    var = str(var).lower()
    index = 0
    result=[]
    while index!=len(var)-1:
        try:
            r = var.index(char,index,-1)
            result.append(r)
            index=r+1
        except:
            return result
    return result
position_of_character('hello world','l')

[2, 3, 9]

:

In [7]:
if 'hello'.index('i',0,-1):
    print('l is found')

ValueError: substring not found

In [261]:
s='saivamshi alugandula'
def max_occuring_char(string):
    result = dict()
    for char in string:
        if char in result:
            result[char] +=1
        else:
            result[char]=1
    maximum=max(result.values())
    # return result
    for key,val in result.items():
        if val==maximum:
            return key,val
max_occuring_char(s)

('a', 5)

In [263]:
a=(1,)

a.count(1)

1

In [50]:
a=set([1,2,2,1,2,1,'str',4,-1,2,3,4,5,5,7,8,9,'1'])
a

{-1, 1, '1', 2, 3, 4, 5, 7, 8, 9, 'str'}

In [81]:
b={-2,-3,1,2,3,4}

In [53]:
b.issubset(a)

True

In [56]:
b.isdisjoint(a)

True

In [82]:
b.add((-4,2))
b

{(-4, 2), -2, -3, 1, 2, 3, 4}

In [60]:
b.clear()

In [83]:
b.difference(a)
b

{(-4, 2), -2, -3, 1, 2, 3, 4}

In [84]:
b.difference_update(a)

In [85]:
a
b

{(-4, 2), -2, -3}

In [96]:
b.intersection(a)

{-1, 1, 2, 3, 4, 5}

In [95]:
b={1,2,3,4,5,-4,-1}

In [97]:
b.symmetric_difference(a)

{-4, '1', 7, 8, 9, 'str'}

In [116]:
d=dict(a=1,b=2,c=3)
d

{'a': 1, 'b': 2, 'c': 3}

In [131]:
dict.fromkeys(b)

{1: None, 2: None, 3: None, 4: None, 5: None, -4: None, -1: None}

In [128]:
d.get('aa')
d['aa']

KeyError: 'aa'

In [132]:
d.items()

dict_items([('a', 1), ('b', 2), ('c', 3)])

In [139]:
for key,value in d.items():
    print(key,value)

a 1
b 2
c 3

In [142]:
d.pop('a')

1

In [145]:
d.popitem()

('c', 3)

In [1]:
d={'a':1,'b':2}

In [2]:
for k,v in d.items():
    print(k,v)

a 1
b 2

In [4]:
a=d.copy()

In [20]:
n =[]'faiz','arbaaz']

SyntaxError: unmatched ']' (2881207491.py, line 1)

In [21]:
from random import randint as r
print(n[r(0,len(n)-1)])

faiz

In [19]:
import os

In [30]:
def word_count(path):
    if not os.path.isfile(path):
        return 'file does not exists!'
    with open(path, 'r') as file:
        text = file.readlines()
        print(text)
        sum = 0
        for line in text:
            words = line.split()
            count = len(words)
            sum = sum+count
        with open('output.txt','w') as op_file:
            op_file.writelines(text)
            op_file.write('\n')
            op_file.write('Total words: ')
            op_file.write(str(sum))
    return 'Done'
word_count(r'C:\Users\admin\Django Project\Main Project Folder\input.txt')

['Hello world']

'Done'

In [1]:
letters = [['h','o','l','i','d','a','y'],

           ['p', 'r', 'o', 'g', 'r', 'a', 'm', 'm','i','n','g'],

           ['b','o','o','t','c','a','m','p'],

           ['f','l','o','w','c','h','a','r','t'],

           ['w', 'o', 'r', 'd', 's', 'c', 'a','p','e','s']]

In [13]:
letters[0]

['h', 'o', 'l', 'i', 'd', 'a', 'y']

In [15]:
'hello,hi,i,am,here'.split(' ')

['hello,hi,i,am,here']

In [43]:
f=open('output.txt','w')
f.write(f"Hello, world!'\n'hi")
r=open('output.txt','w')
r.write('hello7')
f.write('ardagain')
r.write('this is again')

13

In [77]:
r=open('output.txt','r+')

In [78]:
r.tell()

0

In [65]:
r.tell()
r.seek(11,0)
r.tell()
r.readline()

'1\n'

In [66]:
r.readline()

'hello world2\n'

In [67]:
r.readline()

'hello world3'

In [72]:
r.readline()

'hi 4'

In [8]:
f=open('base.html','r+')

In [11]:
f.seek(0,2)

11330

In [12]:
f.write('aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa')

72

In [7]:
f.close()

mode    desc            pointer        about data

r       read only       at start     data remain
w       write only      at start     date deleted  othervise create file
a       append only     at end       data remain  othervise create file
a+      append+read     at end       data remain  othervise create file
w+      write+read      at end       data remain   othervise create file
r+      read+write      at start     data remain
x       write only      at start     new file othervise error

In [34]:
obj =open('file1.txt','w+')
(obj.write('hello world'))
obj.seek(0,0)
#hello
#01234
print(obj.read())
obj.close()

hello world

In [26]:
obj = open('file1.txt','r+')
obj.write('hi world')
print(obj.read())
obj.close()

rld

In [48]:
with open('file2.txt','a+') as obj:
    obj.write('Hello, world!\t')
    obj.seek(0,0)
    print(obj.read())

Hello, world!

In [69]:
path=r'C:\Users\admin\Python\Batch 419\file10.txt'
with open(path,'x+') as f:
    f.write('Hello, world!')
    f.seek(0,0)
    print(f.read())

Hello, world!

In [84]:
import os
path = r"C:\Users\admin\Python"
print(os.listdir(path))
os.mkdir('my')
import time
time.sleep(2)
os.rmdir('my')
os.path.isdir(r'C:\Users\admin\Python\batch 419')

['Batch 419']

True

method              desc
read                reads the whole file in a single string
readlines           reads the whole file in a list of strings
write               write a string into a file
writelines          takes iterable and write all at once
readable
writable    
tell                gives the value of the pointer position in bytes count
seek                to move pointer(how much, count to move,where to start)
                    0 for start
                    1 for current
                    2 for end

flush               transfer the temp memory data to permanent file storage

In [107]:
obj = open('file1.txt','a')
obj.writelines({'\n','14','24','35','43','53','63','72','58','79'})
obj.write('\n')
obj.flush()
obj.close()

In [124]:
with open('file1.txt') as f:
    text = f.readlines()

In [125]:
for i,line in enumerate(text):
    if 'hello' in line:
        text[i]=text[i].replace('hello','hi')
        text[i]=text[i].replace('world','universe')

In [119]:
'hello world hello universe\n'.replace('hello','hi')

'hi world hi universe\n'

In [152]:
s=str(text)
for i in s:
    s=s.replace('h','hh')
s

In [135]:
s = "The quick brown fox jumps over the lazy dog"
for r in (("brown", "red lazy"), ("lazy", "quick brown")):
    s = s.replace(*r)

In [136]:
s

'The quick red quick brown fox jumps over the quick brown dog'

In [ ]:
The quick red lazy fox jumps over the quick brown dog'

Class(Programming ) is BluePrint of object(realworld Object)
Object(programming) is instance of Class(programming)

In [81]:
class Employee:
    company = 'IT'    #class level Attribute 
                    #common among all the instance 
    def __init__(self, name, age, salary):
        self.name = name  #instance Level Attribute apecific to perticular Object
        self.age = age  #instance Level Attribute apecific to perticular Object
        self.salary = salary  #instance Level Attribute apecific to perticular Object
    def learn(self,topic='python' ):
        return 'successfully learned {}'.format(topic)
    

#obj.__dict__  # extract all the attribute related to the perticular object in the form of dictionary
e1 = Employee('raj',34,34344)  
e2 = Employee('rakesh',32,34341)
e3 = Employee('ramu',31,343444)
e4 = Employee('ramesh',21,413413)

In [83]:
e1.learn()

NameError: name 'learn' is not defined

In [68]:
issubclass(Employee,object)

True

In [69]:
class sample:
    pass
issubclass(sample,object)

True

In [71]:
isinstance(e1,Employee)

True

In [ ]:
class Hotel:
    def __init__(self, name, capacity,services):
        self.name = name
        self.capacity = capacity
        self.services = services
        self.rooms =[]
        self.guests = []





class Room:

    def __init__(self, number, capacity,hotel_id,availble=True):
        self.number = number
        self.capacity = capacity
        self.availble = availble    
        self.hotel_id = hotel_id
    
    def check_in(self,customer,date,chekout_date):
        if self.availble:
            self.availble = False